.watch {
   margin-top: 50px; 
}
.watch h1 {
    font-size: 40px;
    margin-top: 0;
}

  @media only screen and (max-width: 768px) {
    .watch h1 {
      font-size: 50px;
      margin: 0;
    }
    .watch {
      position: relative;
      height: 60vh !important;
    }
    .watch .coverImage img {
      width: 100vw;
      height: 70vh !important;
    }
    .watch .content {
      flex-direction: column;
      padding: 50px;
    }
    .pwatch .row {
      width: 100%;
    }
    .watch .play-button {
      display: none;
    }
  }