.view-all-btn {
    cursor: pointer;
}

/* -- PopularCard style */
.movie-box {
    width: 300px;
    height: 200px;
    position: relative;
    transition: 0.5s;
    border-left: 5px solid transparent;
}

.movie-box:hover {
    cursor: pointer;
    border-left: 5px solid #eb5e28;
    transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0) perspective(31.25rem);
    box-shadow: 0 0 0.73em rgba(0, 0, 0, 0.9);
}

.movie-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    z-index: -1;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(20, 20, 20, 0.4) 50%,
        rgba(83, 100, 140, 0),
        100%
    );
}
.movie-box img {
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.movie-box .text {
    padding: 70px 50px;
    font-weight: 900;
}

.movie-box h3 {
    font-weight: 500;
    margin-bottom: 15px;
}
.movie-box button {
    margin-top: 15px;
    padding: 12px 20px;
    font-size: 13px;
    cursor: pointer;
}

.movie-box button i {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .movie-box {
        width: 200px;
        height: 150px;
        font-size: 0.5rem;
        transform: none;
        transition: none;
        translate: none;
        perspective: none;
    }
    .cover {
        padding: 2rem;
    }
}

@media (max-width: 485px) and (max-width: 768px) {
    .popular-movies {
        padding-bottom: -2rem;
        padding-top: 1rem;
    }
   
    .movie-box {
        width: 150px;
        height: 100px;
        font-size: 0.4rem;
        transform: none;
        transition: none;
        translate: none;
        perspective: none;
    }
    .cover {
        padding: 5rem;
    }
    .time {
        display: none;
    }
    .control-btn {
       display: none;
    }
   
    .popular-movies .heading-title {
        font-size: 1rem;
        margin-top: -4rem;
        margin-bottom: -4rem;
    }
}
